/* structure */
body {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
}
main {
    flex: 1; 
    width: 100%;
}
header, footer {width: 100%;}

/* navigation bar */
.nav-items-container {
    gap: 5rem;
}
.nav-items a,
.nav-items-footer a {
    color: #f8f9fa;
    text-decoration: none;
}
.nav-items a:hover, 
.nav-items a:focus,
.nav-items-footer a:hover,
.nav-items-footer a:focus {
    color: grey;
    transition: background-color 0.3s, color 0.3s ease-in-out;
}
.nav-button, 
.nav-button-access {
    background: none;
    border: none;
}
.nav-button,
.nav-button-access {color: #f8f9fa;} 
.nav-button:hover, 
.nav-button:focus,
.nav-button-access:hover,
.nav-button-access:focus {
    color: grey;
    transition: background-color 0.3s, color 0.3s ease-in-out;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: #740000;
    transition: background-color 0.3s;
}

/* sidebar navigation */
section#sidebar {
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 1;
}
section#sidebar div a {
    display: block;
    padding: 10px;
}
section#sidebar div a:hover,
section#sidebar div a:focus,
section#sidebar div a:active {
    background-color: #740000;
    transition: background-color 0.3s;
}
section#sidebar-pane {
    width: 50%;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 1;
}

/* shapes */
.circle {
    height: 150px; 
    width: 150px; 
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* gradients */
.gradient-light {background: linear-gradient(to bottom, #757575, #c7c7c7, #757575);}
.gradient-dark {background: linear-gradient(to bottom, #000000, #404040, #a0a0a0);}
.gradient-sunrise {background: linear-gradient(to top, #7bcaff, #e8afff, #ffae00);}
.gradient-sunset {background: linear-gradient(to top, #00365a, #4d0042, #ff9900);}

/* text shadow */
.text-shadow-black {text-shadow: 5px 5px 5px #000000;}
.text-shadow-white {text-shadow: 5px 5px 5px #ffffff;}

/* colours */
.text-blue {color: #0052b1;}
.text-green {color: #005c00;}
.text-yellow {color: #fbff00;}
.text-orange {color: #ff7300;}

/* contrast text colours (for light/dark mode) */
.text-green-dark {color: #007000;}
.text-green-light {color: #00ff55;}
.text-red-dark {color: #8f0000;}
.text-red-light {color: #ff0000;}
.text-blue-dark {color: #000075;}
.text-blue-light {color: #5a5aff;}

/* contrast background colours */
.bg-purple-dark {background-color: #7045c0;}
.bg-purple-light {background-color: #9986bd;}

/* hover colours */
.text-green-dark-hover {color: #007000;}
.text-green-dark-hover:hover,
.text-green-dark-hover:focus {color: #00ff55; transition: color 0.3s ease-in-out;}
.text-green-light-hover {color: #00ff55;}
.text-green-light-hover:hover,
.text-green-light-hover:focus {color: #007000; transition: color 0.3s ease-in-out;}

/* permanent colours - used to prevent light/dark mode switching contrasts */
.bg-dark-perm {background-color: #212529;}
.bg-light-perm {background-color: #f8f9fa;}
.text-dark-perm {color: #212529;}
.text-light-perm {color: #f8f9fa;}

/* other classes */
.pointer {cursor: pointer;}
.m-reset {margin: 0;}
.p-reset {padding: 0;}
.mp-reset {margin: 0; padding: 0;}
.f-50 {font-size: 50px;}
.f-75 {font-size: 75px;}

/* VIEWPORTS */
@media screen and (max-width: 575px) /* x-small */
{
    /* hide navigation items */
    .nav-items {display: none;}

    main #menu-grid #arithmetics-card {margin: 20px 0;}
    main #menu-grid #shapes-card {margin: 20px 0;}
    main #menu-grid #bmi-card {margin: 20px 0;}
    main #menu-grid #access-card {margin: 20px 0;}
}

@media screen and (min-width: 576px) /* small */
{
    .nav-items {display: none;}

    main #menu-grid #arithmetics-card {margin: 20px 0;}
    main #menu-grid #shapes-card {margin: 20px 0;}
    main #menu-grid #bmi-card {margin: 20px 0;}
    main #menu-grid #access-card {margin: 20px 0;}
}

@media screen and (min-width: 768px) /* medium */
{
    .nav-items {display: none;}

    main #menu-grid #arithmetics-card {margin: 20px 0;}
    main #menu-grid #shapes-card {margin: 20px 0;}
    main #menu-grid #bmi-card {margin: 20px 0;}
    main #menu-grid #access-card {margin: 20px 0;}
}

@media screen and (min-width: 992px) /* large */
{
    /* hide sidebar button */
    .nav-button {display: none;}

    /* show navigation items */
    .nav-items {display: block;}

    /* convert menu cards to 2x2 grid */
    main #menu-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-items: center;
    }
    /* apply fixed height to menu cards */
    main #menu-grid .card {
        width: 100%;
        max-width: 600px;
        height: 300px;
        flex-direction: column;
    }
    /* prevent contents overflowing */
    main #menu-grid .card-body {
    flex-grow: 1;
    overflow-y: auto;
    }

    main #menu-grid #arithmetics-card {margin: 0;}
    main #menu-grid #shapes-card {margin: 0;}
    main #menu-grid #bmi-card {margin: 0;}
    main #menu-grid #access-card {margin: 0;}
}

@media screen and (min-width: 1200px) /* x-large */
{

}

@media screen and (min-width: 1400px) /* xx-large */
{
    
}